body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 32px;
    padding: 20px 0 30px;
    text-align: center;
}

.selection {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}

#buttons {
    margin: 0 auto;
}

.selection button {
    background-color: #E0FDFF;
    border: none;
    border-radius: 3px;
    color: #1D3557;
    font-size: 72px;
    font-weight: 200;
    position: relative;
    width: 200px;
    height: 150px;    
}

.selection button:hover {
    background-color: #1D3557;
    color: #E0FDFF;
}

.selection button:disabled {
    background-color: #F5F5F5;
    color: #E3E3E3;
}